:root {
  /* Backgrounds */
  --color-primary: #1e293b;
  --color-counter-primary: #334155;
  --color-counter-secondary: #627287;

  /* Accent / Brand Colors */
  --color-highlight: #10b981;
  --color-button-primary: #22c55e;

  /* Text */
  --color-text-primary: #f8fafc;
  --color-text-secondary-dark: #cbd5e1;
  --color-text-secondary: #94a3b8;

  /* UI Borders and Dividers */
  --color-divider: #64748b;
  --color-border-primary: #475569;

  /* Footer */
  --color-primary-footer: #0f172a;
  --color-text-primary-footer: #e2e8f0;
  --color-text-secondary-footer: #94a3b8;
}
