:root {
  --color-primary: #2F78BF;
  --color-counter-primary: #0e5eae;
  --color-counter-secondary: #1962ac;

  --color-highlight: #95fff1;
  --color-button-primary: #47cbff;

  --color-text-primary: #e8fffd;
  --color-text-secondary-dark: #71edfd;
  --color-text-secondary: #86f7ff;

  --color-divider: #03af9b;
  --color-border-primary: #80c1e3;

  --color-primary-footer: #172b45;
  --color-text-primary-footer: #c0f1ed;
  --color-text-secondary-footer: #7cdacf;
}
